@charset "UTF-8";
/* $accentColorSec: #f9f5e8;
$darkGrey: #151d28;
$lightGrey: #edf0f5; */
.btn {
  outline: none;
  background-color: transparent;
  margin-top: 0;
  position: relative;
  height: 40px;
  font-weight: 500;
  width: 100px;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  /*   &:active {
    background-color: #0c3ab1 !important;
  } */
}
.btn:hover {
  -webkit-box-shadow: 0 0 10px rgb 0 0 0/30%;
          box-shadow: 0 0 10px rgb 0 0 0/30%;
}
.btn:not(:active) .btn__span {
  -webkit-transition: z-index 0s ease-in-out;
  transition: z-index 0s ease-in-out;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.btn:active .btn__span {
  z-index: 1;
}
.btn__noBorder {
  border: none !important;
}
.btn__main {
  background-color: #245462;
  color: #ffffff;
  position: relative;
}
.btn__main:after {
  /*     @include position(
    absolute,
    url("../assets/svg/chevron-right.svg"),
    0,
    0,
    auto,
    18px,
    auto
  ); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
}
.btn__main:hover {
  border: none;
}
.btn__span {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-left: 28px;
  z-index: 0;
}
.btn__toggler {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.btn__transparent {
  background-color: transparent;
  border: 1px solid #414141;
}
.btn__transparent:active {
  border: none;
}
.btn__linear, .btn__transparent {
  color: #414141;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn__transparent .btn__span, .btn__linear .btn__span {
  margin-left: 0;
  -ms-flex-item-align: center;
      align-self: center;
}
.btn__shadow {
  color: #414141;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(36, 192, 226, 0.1);
          box-shadow: 0px 10px 30px 0px rgba(36, 192, 226, 0.1);
}
.btn__linear {
  background: -webkit-gradient(linear, left top, right top, from(#16d9e3), color-stop(47%, #26c2e9), to(#46aef7));
  background: linear-gradient(90deg, #16d9e3 0%, #26c2e9 47%, #46aef7 100%);
}
.btn__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.incDec-btn {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s, -webkit-box-shadow 0.3s;
  /*    &:active  .item  {

   } */
}
.incDec-btn__item {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.incDec-btn:active .incDec-btn__item {
  fill: #414141;
}
.incDec-btn:active .incDec-btn__body {
  fill: url(#paint0_linear);
}

/* .incDec-btn--minus {
  position: relative;
} */
.incDec-btn--minus .incDec-btn__horiz {
  display: none;
}
/*# sourceMappingURL=button.module.css.map */