// button {
//   width: 320px;
//   margin-top: 40px;
// }

/* form:focus-within label {
  transform: translate(-2px, -12px) scale(0.75);
}
 */

.form {
  button {
    width: 280px;
    margin-top: 30px;
  }
}
